@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* VARIABLES */
:root {
  --major-bg-color: #131921;
  --minor-bg-color: #ebeded;
  --amazon-major-color: #febd68;
  --accent-color: #293546;
}

/* BODY */
body {
  background-color: var(--minor-bg-color);
}

/* HEADER */
.header {
  width: 100%;
  height: 50px;
  background-color: var(--major-bg-color);
  display: flex;
  justify-content: center;
}
.header .header-nav {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
}
.header .header-nav .header-container {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-nav .header-container .amazon-logo {
  width: 100px;
}
.header .header-nav .header-container .header-search {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.header .header-nav .header-container .header-search .search-input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
}
.header .header-nav .header-container .header-search .search-button {
  width: 40px;
  height: 42px;
  border-radius: 5px;
  background-color: var(--amazon-major-color);
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #232323;
  margin-left: 3px;
}

.header .header-nav .header-container .header-search .search-button:hover{
    cursor: pointer;

}

.header .header-nav .header-container .right-align{
  /* float:right; */
  display: flex;
  justify-content: center;
  gap:20px;



}

.header .header-nav .header-container .header-cart {
  color:white;

  display: flex;
  justify-content: center;
  align-items: center;

}

.header .header-nav .header-container .header-cart:hover{
  color: var(--amazon-major-color);
  cursor: pointer;
}
.header .header-nav .header-container .header-cart svg {
  width: 40px;
  height: 40px;
}

.header .header-nav .header-container .login-btn{
  margin-top: 10px;
  margin-bottom: 10px;
  color:white;

  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 50%;
  /* font-size: 30px; */
}

.header .header-nav .header-container .login-btn:hover{
  background-color: var(--amazon-major-color) ;
  cursor: pointer;
  color: black;
}

.header .header-nav .header-container .login-btn p{
  padding: 2px 2px 2px 2px;
}

/* .header .header-nav .header-container .login-btn p{
  position: relative;
  top: 50%;
  right: -50%;
} */

/* SECTION 1 */
.section-1 {
  width: 100%;
  height: auto;
  background: url("../images/Background/61RbwjrCgoL._SX3000_.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
}
.section-1 .section-1-container {
  margin-top: 300px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.section-1 .section-1-container .section-1-column {
  width: 400px;
  height: 370px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  position: relative;

}


.section-1 .section-1-container .section-1-column h3{
  position: absolute;
  top:10px;
}

.section-1 .section-1-container .section-1-column .images-details-container{
  display: grid;
  grid-template-columns: repeat(2,180px);
  margin:20px 20px 20px 20px;
  grid-gap: 20px;
  justify-content: center;
  /* align-items: center; */
}

.section-1 .section-1-container .section-1-column .images-details-container .image-detail{
  margin-bottom: -20px;
  margin-top: -20px;
}

.section-1 .section-1-container .section-1-column .images-details-container .image-detail img{
  margin-bottom: 0px;
}

.section-1 .section-1-container .section-1-column .images-details-container .image-detail p{
  color: black;
  margin-top: 0px;
  font-size: 12px;
}

.section-1 .section-1-container .section-1-column img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 60%;
  cursor:pointer;
}

.section-1 .section-1-container .section-1-column img:hover{
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.section-1 .section-1-container .section-1-column p {
  /* margin-top: 10px; */
  bottom: 40px;
  font-size: 14px;
  color: #007185;
}
.section-1 .section-1-container .section-1-column a{
  color: blue;
  text-decoration: none;
  /* background-color: var(--amazon-major-color); */
  /* border-radius: 3px; */
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
  float: left;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.section-1 .section-1-container .section-1-column a:hover{
  text-decoration: underline;
  color: #e08d26;
}

.section-1 .section-1-container .section-1-column button {
  margin-top: 10px;
  width: 100%;
  border: none;
  background-color: var(--amazon-major-color);
  padding: 8px;
  border-radius: 10px;
}

/* SECTION 2 */
.section-2 {
  margin: 20px;
  padding: 20px;
  background-color: white;
}
.section-2 .section-2-container h3 {
  margin-bottom: 10px;
}
.section-2 .section-2-container .product-cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.section-2 .section-2-container .product-card {
  display: flex;
  flex-direction: column;
  /* width: 300px !important; */
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 .section-2-container .product-card .deals-details{
    display: flex;
    justify-content: space-between;
    gap:10px;
    font-size: 13px;
    margin-bottom: 2px;
}

.section-2 .section-2-container .product-card .deals-details .deals{
  background-color: #CC0C39;
  color: white;
  align-content: center;
  justify-content: center;
  text-align: center;
  /* margin-left: 3px;
  margin-right: 3px; */
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 3px;
}

.section-2 .section-2-container .product-card img {
  width: auto;
  height: auto;
  max-width: 270px;
  max-height: 200px;
  cursor:pointer;
  margin-bottom: 10px;
}

.section-2 .section-2-container .product-card p{
  font-size: 13px;
}

/* SECTION 3 */
.section-3 {
  background-color: white;
}
.section-3 .section-3-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}
.section-3 .section-3-container .product-detail-cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card {
  display: inline-block;
  width: 200px !important;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
.section-3
  .section-3-container
  .product-detail-cards
  .product-detail-card
  .product-detail-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card img {
  width: 100%;
  height: auto;
  max-width: 160px;
  max-height: 140px;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card a {
  text-decoration: none;
  color: #007185;
  font-size: 14px;
}
.section-3
  .section-3-container
  .product-detail-cards
  .product-detail-card
  a:hover {
  color: #c45500;
}
.section-3
  .section-3-container
  .product-detail-cards
  .product-detail-card
  .product-deliver-by {
  color: #222;
  font-size: 10px;
}

/* SECTION 4 */
.section-4 {
  /* background-color: white; */
  padding: 20px;
}
.section-4 .section-4-container {
  /* border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-4 .section-4-container p {
  margin: 4px;
  font-size: 14px;
}
.section-4 .section-4-container button {
  width: 300px;
  border: none;
  background-color: var(--amazon-major-color);
  padding: 8px;
  border-radius: 10px;
}

/* SECTION 5 */

.section-5 .section-5-container a:link, a:visited {
  display: block;
  text-align: center;
  padding: 15px 0;
  line-height: 22px;
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
}

.section-5 .section-5-container a:hover, a:active {
  background-color: #37485f;
}

/* FOOTER */
footer {
  font-size: 12px;
  width: 100%;
  height: 50px;
  color: white;
  background-color: var(--major-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover1 figure:hover img {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

.hover1 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
